### NATIVE/C++ ###
# Compiled
*.slo
*.lo
*.a
*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.exe
*.app
*.out

# Precompiled
*.gch
*.pch

### VS ###
.vs/

### Java/Gradle ###
# Build
build/
out/
.gradle/

### IDE/IntelliJ ###
.idea/
*.iml

### Minecraft ###
# Run directory
run/
!run/config/
!run/shaderpacks/

### Compilation ###
.native-build-props.temp.properties

### VulkanSDK ###
vulkan_sdk/
