### NATIVE/C++ ###
# Compiled
*.slo
*.lo
*.a
*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.exe
*.app
*.out

# Precompiled
*.gch
*.pch

### VS-Code ###
.vs/

### Java/Gradle ###
# Build
build/
out/
.gradle/
gradle/

### IDE/IntelliJ ###
.idea/
*.iml

### Minecraft ###
# Run directory
run/
